<template>
  <div>
    <navbar/>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card mt-5">
            <div class="card-header">User summary</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="row">
                  <div class="col-sm-3"><strong>Name:</strong></div>
                  <div class="col-sm-9">{{ name }}</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-sm-3"><strong>Public key:</strong></div>
                  <div class="col-sm-9"><code>{{ keyPair.publicKey }}</code></div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-sm-3"><strong>Balance:</strong></div>
                  <div class="col-sm-9">
                    <span v-numeral="balance"/>
                  </div>
                </div>
              </li>
              <li v-if="lotCreated" class="list-group-item">
                <div class="row">
                  <div class="col-sm-3"><strong>Lot bid:</strong></div>
                  <div class="col-sm-9">
                    <span v-numeral="lotBid"/>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="card mt-5">
            <div class="card-header">Transactions</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item font-weight-bold">
                <div class="row">
                  <div class="col-sm-12">Description</div>
                </div>
              </li>
              <!-- eslint-disable-next-line vue/require-v-for-key -->
              <li v-for="transaction in reverseTransactions" class="list-group-item">
                <div class="row">
                  <div class="col-sm-12">
                    <router-link :to="{ name: 'transaction', params: { hash: transaction.hash } }">
                      <span v-if="transaction.message_id === 2">Wallet created</span>
                      <span v-else-if="transaction.message_id === 1">
                        <strong v-numeral="transaction.body.amount"/> funds added
                      </span>
                      <span v-else-if="transaction.message_id === 0 && transaction.body.from === keyPair.publicKey">
                        <strong v-numeral="transaction.body.amount"/> funds sent
                      </span>
                      <span v-else-if="transaction.message_id === 0 && transaction.body.to === keyPair.publicKey">
                        <strong v-numeral="transaction.body.amount"/> funds received
                      </span>
                    </router-link>
                  </div>
                </div>
              </li>
            </ul>
          </div>

        </div>

        <div class="col-md-6">
          <div class="card mt-5">
            <div class="card-header">Add funds</div>
            <div class="card-body">
              <form @submit.prevent="addFunds">
                <div class="form-group">
                  <label class="d-block">Select amount to be added:</label>
                  <div v-for="variant in variants" :key="variant.id" class="form-check form-check-inline">
                    <input :id="variant.id" :value="variant.amount" :checked="amountToAdd == variant.amount" v-model="amountToAdd" class="form-check-input" type="radio">
                    <label :for="variant.id" class="form-check-label">${{ variant.amount }}</label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Add funds</button>
              </form>
            </div>
          </div>

          <div class="card mt-5">
            <div class="card-header">Transfer funds</div>
            <div class="card-body">
              <form @submit.prevent="transfer">
                <div class="form-group">
                  <label>Receiver:</label>
                  <input v-model="receiver" type="text" class="form-control" placeholder="Enter public key" required>
                </div>
                <div class="form-group">
                  <label>Amount:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">$</div>
                    </div>
                    <input v-model="amountToTransfer" type="number" class="form-control" placeholder="Enter amount" min="0" required>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Transfer funds</button>
              </form>
            </div>
          </div>

          <div class="card mt-5">
            <div class="card-header">Create lot</div>
            <div class="card-body">
              <form @submit.prevent="createLot">
                <div class="form-group">
                  <label>Description:</label>
                  <input v-model="description" type="text" class="form-control" placeholder="Enter description" required>
                </div>
                <div class="form-group">
                  <label>Initial bid:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">$</div>
                    </div>
                    <input v-model="initialBid" type="number" class="form-control" placeholder="Enter amount" min="0" required>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
              </form>
            </div>
          </div>

          <div class="card mt-5">
            <div class="card-header">Bid in auction!</div>
            <div class="card-body">
              <form @submit.prevent="bid">
                <div class="form-group">
                  <label>Lot:</label>
                  <input v-model="receiver" type="text" class="form-control" placeholder="Enter public key" required>
                </div>
                <div class="form-group">
                  <label>Bid:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">$</div>
                    </div>
                    <input v-model="amountToBid" type="number" class="form-control" placeholder="Enter amount" min="0" required>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Bid</button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

    <spinner :visible="isSpinnerVisible"/>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import Modal from '../components/Modal.vue'
  import Navbar from '../components/Navbar.vue'
  import Spinner from '../components/Spinner.vue'

  module.exports = {
    components: {
      Modal,
      Navbar,
      Spinner
    },
    data() {
      return {
        name: '',
        balance: 0,
	lotCreated: false,
	lotBid: 0,
        amountToAdd: 10,
        receiver: '',
        amountToTransfer: '',
        amountToBid: '',
        initialBid: '',
        isSpinnerVisible: false,
        transactions: [],
        bids: [],
        variants: [
          { id: 'ten', amount: 10 },
          { id: 'fifty', amount: 50 },
          { id: 'hundred', amount: 100 }
        ]
      }
    },
    computed: Object.assign({
      reverseTransactions() {
        return this.transactions.slice().reverse()
      }
    }, mapState({
      keyPair: state => state.keyPair
    })),
    methods: {
      async loadUser() {
        if (this.keyPair === null) {
          this.$store.commit('logout')
          this.$router.push({ name: 'home' })
          return
        }

        this.isSpinnerVisible = true

        try {
          const data = await this.$blockchain.getWallet(this.keyPair.publicKey)
          this.name = data.wallet.name
          this.balance = data.wallet.balance
          this.transactions = data.transactions
          this.isSpinnerVisible = false
        } catch (error) {
          this.isSpinnerVisible = false
          this.$notify('error', error.toString())
        }
      },

      async loadLot() {
        if (this.keyPair === null) {
          this.$store.commit('logout')
          this.$router.push({ name: 'home' })
          return
        }

        this.isSpinnerVisible = true

        try {
          const data = await this.$blockchain.getLot(this.keyPair.publicKey)
          this.lotBid = data.best_bid
          this.isSpinnerVisible = false
        } catch (error) {
	  this.lotCreated = false
          //this.$notify('error', error.toString())
        }
      },

      async addFunds() {
        this.isSpinnerVisible = true

        const seed = this.$blockchain.generateSeed()

        try {
          await this.$blockchain.addFunds(this.keyPair, this.amountToAdd, seed)
          const data = await this.$blockchain.getWallet(this.keyPair.publicKey)
          this.balance = data.wallet.balance
          this.transactions = data.transactions
          this.isSpinnerVisible = false
          this.$notify('success', 'Add funds transaction has been written into the blockchain')
        } catch (error) {
          this.isSpinnerVisible = false
          this.$notify('error', error.toString())
        }
      },

      async transfer() {
        if (!this.$validateHex(this.receiver)) {
          return this.$notify('error', 'Invalid public key is passed')
        }

        if (this.receiver === this.keyPair.publicKey) {
          return this.$notify('error', 'Can not transfer funds to yourself')
        }

        this.isSpinnerVisible = true

        const seed = this.$blockchain.generateSeed()

        try {
          await this.$blockchain.transfer(this.keyPair, this.receiver, this.amountToTransfer, seed)
          const data = await this.$blockchain.getWallet(this.keyPair.publicKey)
          this.balance = data.wallet.balance
          this.transactions = data.transactions
          this.isSpinnerVisible = false
          this.$notify('success', 'Transfer transaction has been written into the blockchain')
        } catch (error) {
          this.isSpinnerVisible = false
          this.$notify('error', error.toString())
        }
      },

      async bid() {
        if (!this.$validateHex(this.receiver)) {
          return this.$notify('error', 'Invalid public key is passed')
        }

        if (this.receiver === this.keyPair.publicKey) {
          return this.$notify('error', 'Can not transfer funds to yourself')
        }

        this.isSpinnerVisible = true

        //const seed = this.$blockchain.generateSeed()

        try {
          await this.$blockchain.bid(this.keyPair, this.receiver, this.amountToBid)
          const data = await this.$blockchain.getWallet(this.keyPair.publicKey)
          this.balance = data.wallet.balance
          this.transactions = data.transactions
          this.isSpinnerVisible = false
          this.$notify('success', 'Bid has been written into the blockchain')
        } catch (error) {
          this.isSpinnerVisible = false
          this.$notify('error', error.toString())
        }
      },

      async createLot() {
        this.isSpinnerVisible = true

        try {
          await this.$blockchain.createLot(this.keyPair, this.description, this.initialBid)
          const data = await this.$blockchain.getLot(this.keyPair.publicKey)
          this.lotBid = data.best_bid
	  this.lotCreated = true
          this.isSpinnerVisible = false
          this.$notify('success', 'Bid has been created')
        } catch (error) {
          this.isSpinnerVisible = false
          this.$notify('error', error.toString())
        }
      },
    },
    mounted() {
      this.$nextTick(function() {
        this.loadUser()
	this.loadLot()
      })
    }
  }
</script>
